flask
flask-migrate
flask-restful
flask-sqlalchemy
Flask-WTF
git+https://github.com/qmeeus/textrank.git
gunicorn
ibm-watson
newsapi-python
numpy
pandas
python-dotenv
requests
WTForms
wtforms_components
