
<div class="row w-100">
    <div class="col-md-9"><span></span></div>
    <div class="col-md-3">
        <a id="display-graph" href="#">Display Textrank Graph</a>
    </div>
</div>
<script type="application/json" id="graph-data">
    {{ data | tojson }}
</script>
<div class="modal" id="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="content">
            <svg width="100%" height="600" id="svg">
                <g class="links"></g>
                <g class="nodes"></g>
            </svg>
        </div>
    </div>
</div>
