{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ribbon.css') }}">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-light bg-secondary">
        <div class="d-flex justify-content-center container-fluid">
            <a class="navbar-brand text-primary" href="#"><h1 class="text-white"> BalancedView</h1></a>
        </div>
    </nav>

    <div class="ribbon">
        <a href="https://github.com/qmeeus/balanced-view">Fork me on GitHub</a>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <h2 class="text-center text-secondary">Overcoming confirmation bias in social networks</h2>
            </div>
        </div>
    </div>

{% include 'form.html' %}

{% block results %}{% endblock %}

{% endblock %}