html { font-family: sans-serif; padding: 1rem; background-color: #005651}
body { max-width: 960px; margin: 0 auto; background-color: transparent; }
button {margin: 15px auto; float: none}
.card {margin: 15px auto ; float: none; margin-bottom: 20px;}
table {text-align: center; }
h5.card-title {color: snow; text-align: center; }