@import url("https://fonts.googleapis.com/css?family=Bangers");

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
  }
  
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

line {
  stroke: #ccc;
}
text {
  text-anchor: middle;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: #666;
  font-size: 16px;
}

h1 {
  font-family: 'Bangers';
  font-size: 10vw;
  font-weight: bold;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 6vw;
  font-weight: bold;
}

h3.no-results {
    text-align: center;
}

p.description {
  text-align: justify;
}

.article-image {
    margin: 5px;
}

div.alert>p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media all and (min-width: 520px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2vw;
  }
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 120px;					
  height: 52px;					
  padding: 4px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#display-graph {
  text-align: right; 
  width: 100%; 
  color: red;
  font-size: 1.3em;
}