<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fake Tweet Detector</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
        <div class="container">
            <div class="row">
            {% block body %}{% endblock %}
            </div>
        </div>

        <script src="{{ url_for('static', filename='jquery/jquery-3.3.1.min.js') }}" charset="UTF-8"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="UTF-8"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>