{% extends 'base.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="thumbnail">
            <form action="#" method="post">
                <fieldset>
                    <div class="form-group">
                        <h3 class="title">Fact Checking Tool</h3>
                        {{ form.text(class="form-control", id="text", cols="50", rows="5", placeholder="Enter a text to fact check...") }}
                    </div>
                </fieldset>
                <div class="row">
                    <fieldset class="col-sm-6">
                        <div class="form-group">
                            <label for="dtp_input2" class="control-label">Start Date</label>
                            {{ form.start_date(class='datepicker form-control', size="16", value="") }}
                            {{ form.hidden_tag() }}<br/>
                        </div>
                    </fieldset>
                    <fieldset class="col-sm-6">
                        <div class="form-group">
                            <label for="dtp_input2" class="control-label">End Date</label>
                            {{ form.end_date(class='datepicker form-control', size="16", value="") }}
                            {{ form.hidden_tag() }}<br/>
                        </div>
                    </fieldset>
                </div>
                <input type="submit" class="btn btn-primary btn-block"/>
            </form>
        </div>
    </div>
{% endblock %}

