<div class="py-5" style="">
    <div class="container">

        <form method="post" class="w-100" style="" action="#">
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="w-100">
                        <div class="form-group w-100 form-row">
                            {{ form.text(class="form-control", id="text", cols="50", rows="5", placeholder="Enter a text to fact check...") }}
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="col-md-6">
                        <div class="form-group">
                            <label for="dtp_input2" class="control-label">Start Date</label>
                            {{ form.start_date(class='datepicker form-control', size="16", value="") }}
                            {{ form.hidden_tag() }}<br>
                        </div>
                    </fieldset>
                    <fieldset class="col-md-6">
                        <div class="form-group">
                            <label for="dtp_input2" class="control-label">End Date</label>
                            {{ form.end_date(class='datepicker form-control', size="16", value="") }}
                            {{ form.hidden_tag() }}<br>
                        </div>
                    </fieldset>
                </div>
                <input type="submit" class="btn btn-block btn-secondary">
            </div>
        </form>
    </div>
</div>