urllib3<1.25,>=1.21.1
flask
flask-restful
python-dotenv
numpy
pandas
newsapi-python
ibm-watson
spacy
gunicorn
logzero
feedparser
knapsack
gevent
gunicorn[gevent]
elasticsearch
elasticsearch-dsl>=7.0.0,<8.0.0